/*#011638 - dark blue
#432e36 - old burgundy  
#efd0ca - dust storm 
#542344 - wine dregs 
#edbfc6 - cameo pink
 'Courgette', cursive
     font-family: 'Montserrat', sans-serif;
*/

/* Global styles
    ------------------
*/
body {
    color: #343434;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size:15px;
    line-height:1.5;
}
img{
    max-width:300px;
    
}
a {
    color: #efd0ca;
}
a:hover{
    text-decoration:none;
}

.header-wrap { /* centers text*/
    max-width: 800px;
    margin: 0 auto;
    padding:60px 0;
   
}
h1, h2 {
    font-family: 'Courgette', cursive;
    font-weight:400;
    margin: 0;
}
h1{
    font-size:100px;
    line-height:1;
  
}
h2{
    font-size:40px;
    margin: 0;
 
}
h3{
    font-size: 20px;
}
ul{
    list-style: none;
    font-size: 20px ;
}


p{
    font-size: 20px;
    
}
/* hobbie styles
    ------------------
*/
.hobbies {
    background: #F7FFF7;
}
video{
    margin:5px 20px ;
}

 
   


/* profile styles
    ------------------
*/
header {
    background: #011638;
    color: #F7FFF7;
}
.container{
    display:block;
    margin-right: auto;
    margin-left: auto;
    max-width: 50%;
}
/*Education styles
    -------------------
*/

/* Work Experience styles
    ------------------
*/
.workexperience {
    background: #edbfc6;
}
footer {
    background: #542344 ;
    color:#F7FFF7; 
    display:flex;
}
    footer li {
        list-style: none;
        display: inline-flex;
        justify-content: center;
        font-size: 20px;
        padding: 20px 20px;
        
        border-radius: 50%;
        transition: .5s;
       
    }
footer img{
    max-width:100px;
    
}
.res{
    border-radius:50%;
}
footer h2{
    justify-content:left;
}

@media screen and (min-width:750px){
    .edu {
        display: grid;
        max-width: 800px;
        width: 85%;
        justify-self: center;
        margin: 20px 200px;
    }

    .education-cert {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-left:20px;
        justify-items: end;
    }
